<%- include("templates/header") %>

<% if (isSessionValid) { %>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Hello, <%= user %> !</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">How's your duck today?</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <form action="/members">
                <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Go to members area</button>
            </form>
            <form action="/logout">
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Logout</button>
            </form>
          </div>
        </div>
        <!-- <div class="overflow-hidden" style="max-height: 30vh;"></div> -->
        <div class="overflow-hidden">
          <div class="container px-5">
            <img src="/public/JeffDuck.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Jeff Duck" loading="lazy" width="469" height="363">
          </div>
        </div>
    </div>
    <!-- <p> Hello,  <%= user %> !</p>
    <form action=/members><button> Go to member Area</button></form><br/>
    <a href=/logout><button href=/>Logout<button></a><br/> -->
<% } else { %>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Please log in or Sign up</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <form action=/signup>
                <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Sign up</button>
            </form>
            <form action=/login>
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Login</button>
            </form>
          </div>
        </div>
    </div>



    <!-- <form action=/signup><button>Signup</button></form><br/>
    <form action=/login><button>Login</button></form> -->
<% } %>

<%- include("templates/footer") %>