<%- include("templates/header") %>

<!-- <p>Create user</p>
<form action='/submitUser' method='post'>
<input name='username' type='text' placeholder='username'>
<input name='email' type='email' placeholder='email'>
<input name='password' type='password' placeholder='password'>
<button>Submit</button>
</form> -->

<div class="d-flex justify-content-center align-items-center gap-2 py-5">
    <form action='/submituser' method='post' class="form-signin">
        <img class="mb-4" src="/public/logo-no-background.png" alt="" width="210" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create user</h1>
        <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
        <input name="username" type="text" class="form-control my-2" placeholder="Username" autofocus="">
        <input name="email" type="email" class="form-control my-2" placeholder="Email address" autofocus="">
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <input name="password" type="password" class="form-control my-2" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© All rights reserved</p>
    </form>
</div>

<% if (missingFields) { %>
    <p><%= missingField %> is required</p>
<% } %>

<%- include("templates/footer") %>